<!doctype html>
<html>
<head>
    <title>Start game</title>
</head>
<body>
    <h1>Ready to play?</h1>
    <form action="/madlib">
        <p>Give us a name:<br>
            <input type="text" name="person">
        </p>
        <p>Give us a color:<br>
            <input type="text" name="color">
        </p>
        <p>Give us a noun:<br>
            <input type="text" name="noun">
        </p>
        <p>Give us an adjective:<br>
            <input type="text" name="adjective">
        </p>
        <input type="submit">
      </p>
    </form>
</body>
</html>